body {
    font-family: "Roboto Mono";
    letter-spacing: 0.5px;
    line-height: 25px;
}

.page-header {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}

.color-cont {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.colors-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
}

.colors-cont > div {
    margin-top: 3rem;
    margin-left: 3rem;
    padding: 3rem;
    margin-right: 3rem;
    height: 10vh;
    width: 40vw;
    max-height: 80px;
    max-width: 150px;
    border-radius: 10%;
    color: white;
}

.colors-cont > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-one {
    background-color: #333333;
}

.color-two {
    background-color: #871010;
}

#color-three {
    background-color: #FFF4D7;
    color: black;
}

#color-four {
    background-color: #F5F5F5;
    color: black;
}

.color-five {
    background-color: #E3BA7D;
}

#color-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #871010;
    height: 3vh;
    width: 30vw;
    border-radius: 4px;
}

.desc {
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
}

.button {
    display: flex;
    font-size: 2rem;
}