body {background-color: #FFF4D7;}

p {
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 25px;
    font-family: "Roboto Mono";
}

#italic {font-style: italic;}

.intro-text > p {width: 90%;}

.intro > h1 {text-align: center;}

.sprites-cont {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.sprites-cont img {
    width: 100px;
    object-fit: contain;
    flex: 1;
    margin: 1em 1em 3em 1em;
}

.intro-text, .sprite-text, .pattern-text {
    display: flex;
    justify-content: center;
}

.sprite-text p, .pattern-text p {
    text-align: center;
    width: 60%;
    margin: 4em 2em 4em 2em;
}

.intro, .patterns, .sprites {
    margin: 4em 1em 2em 1em;
}

.patterns-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.patterns-cont img {
    width: 100px;
    object-fit: contain;
    flex: 1;
    margin: 1em;
}

.centered-box > p {
    width: 75%;
}

.patterns h1, .sprites h1 {
    text-align: left;
    margin: 0;
}

.patterns h1 {margin-bottom: 1.5em;}