body {background-color: #FFF4D7;}

p {
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 25px;
    font-family: "Roboto Mono";
}

#italic {font-style: italic;}

.intro-text > p {width: 90%;}

.intro > h1 {text-align: center;}

.sprites-cont {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.sprites-cont img {
    width: 100px;
    object-fit: contain;
    flex: 1;
    margin: 1em 1em 3em 1em;
}

.intro-text, .sprite-text, .pattern-text {
    display: flex;
    justify-content: center;
}

.sprite-text p, .pattern-text p {
    text-align: center;
    width: 60%;
    margin: 4em 2em 4em 2em;
}

.intro, .patterns, .sprites {
    margin: 4em 1em 2em 1em;
}

.patterns-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.patterns-cont img {
    width: 100px;
    object-fit: contain;
    flex: 1;
    margin: 1em;
}

.centered-box > p {
    width: 75%;
}

.patterns h1, .sprites h1 {
    margin: 0 0 0 20px;
    font-size: 28px;
}

.patterns h1 {margin-bottom: 1.5em;}

.stunning-methods-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.stunning-methods-cont img {
    height: 200px;
    width: 100px;
    object-fit: contain;
    flex: 1;
    margin: 1em;
}

#co2 {
    height: 200px;
}

#stunning-tongs {
    height: 200px;
}

.centered-box > p {
    width: 75%;
}

.stunning-methods h1, .sprites h1 {
    text-align: left;
    margin: 0;
}

.stunning-methods h1 {
    margin-bottom: 1.5em;
    margin-left: 1em;
}

.weapons-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.weapons-cont img {
    height: 200px;
    width: 100px;
    object-fit: contain;
    flex: 1;
    margin: 1em;
}

#cleaver {
    height: 300px;
}

.centered-box > p {
    width: 75%;
}

.weapons h1, .sprites h1 {
    text-align: left;
    margin: 0;
}

.weapons h1 {
    margin-bottom: 1.5em;
    margin-left: 1em;
}