body {background-color: #F5F5F5;}

h1 {font-size: 36px;}

p {
    letter-spacing: 0.5px;
    line-height: 25px;
    font-family: "Roboto Mono";
}

#italic {font-style: italic;}

/* main section */
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 1em 4em 2em;
}

.main-img {
    width: 300px;
    margin: 1em 1em 5em 1em;
}

.main-section > p {
    width: 800px;
    text-align: center;
}
/* main section */

/* iterations section */
.iterations-section {
    background-color: #FFF4D7;
    padding: 1em 1em 1em 2em;
}

.iteration-content {
    display: flex;
    padding: 4em 0 4em 0;
}

.iteration-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.iteration-content div:nth-child(even) {
    margin-top: 13em;
}

.iteration-content img {
    width: 200px;
    margin: 1.5em;
}

.iteration-content p {
    font-size: 20px;
    padding: 1em;
}
/* iterations section */

/* logo palette section */
.palette-section {
    background-color: #871010;
    padding: 1em 1em 4em 2em;
}

.palette-section > h1 {
    color: white;
}

.palatte-content {
    display: flex;
    margin: 8em 0 4em 0;
}

.colour > p {
    color: white;
    font-size: 20px;
}

.palette-img {
    object-fit: contain;
    height: 500px;
    margin-top: 1em 1em 1em 1em;
    flex: 1.5;
}

.colour > div {
    width: 70px;
    height: 70px;
    margin: 1em 1.5em 1em 1em;
    border-radius: 1em;
}

.pallatte {
    flex: 1;
}

.colour {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#colour1 {background-color: #F88D2A;}
#colour2 {background-color: #FED925;}
#colour3 {background-color: #CA3625;}
#colour4 {background-color: #F2A8DC;}
#colour5 {background-color: #E5E1E6;}
/* logo palette section */

/* clearspace section */
.clearspace-section {
    padding: 6em 0 6em 0;
}

.clearspace {
    display: flex;
    align-items: center;
}

.clearspace-imgs {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clearspace-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clearspace-text > p {
    width: 350px;
    text-align: center;
    font-size: 16px;
}

.hor-wm {
    width: 300px;
    object-fit: contain;
    margin-top: 4em;
}

.ver-wm {
    width: 300px;
    object-fit: contain;
    margin-bottom: 4em;
}
/* clearspace section */

.restrictions-section {padding: 1em 1em 4em 2em;}

.restrictions-section > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em 1em 3em 1em;
}

.restriction-ratio {
    display: flex;
    flex-direction: column;
    margin: 1em 1em 1em 50px;
    align-items: center;
}

.ratio-imgs {
    display: flex;
    flex-direction: row;
    width: inherit;
    align-items: baseline;
    margin: 1em;
}

.ratio-imgs > img {
    width: 100px;
    height: 200px;
}

.ratio-imgs > img:nth-child(even) {
    width: 200px;
    height: 150px;
    margin-left: 100px;
}

.x {
    border: 6px solid red;
    width: 50px; height: 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bolder;
    color: red;
}

.restriction-rotate {
    display: flex;
    flex-direction: column;
    margin: 1em 1em 1em 50px;
    align-items: center;
    width: 485px;
}

.restriction-rotate > img { 
    transform: rotate(45deg);
    width: 150px;
    margin: 2em;
}

.names {
    margin: 0 0 0 2em;
    font-weight: bolder;
}