.logos {
    display: flex;
    align-items: center;
    background-color: rgb(119, 119, 119);
    padding: 4em 0 4em 0;
}

.coloured-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}

#white-text {color: white;}

.coloured-img {
    object-fit: contain;
    width: 400px;
    height: 400px;
}

.swatch {
    width: 70px;
    height: 70px;
    margin: 1em 1.5em 1em 1em;
    border-radius: 1em;
}

.pallatte {
    flex: 1;
}

.colour {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#colour1 {background-color: #F88D2A;}
#colour2 {background-color: #FED925;}
#colour3 {background-color: #CA3625;}
#colour4 {background-color: #F2A8DC;}
#colour5 {background-color: #E5E1E6;}

.logo-clearspace {
    background-color: rgb(241, 241, 241);
    padding-top: 8em;
}

.clearspace {
    display: flex;
    align-items: center;
}

.wordmarks {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clearspace-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clearspace-desc {
    width: 350px;
    text-align: center;

}

.hor-wm {
    height: 400px;
    width: 400px;
    object-fit: contain;
    margin-top: 1em;
}

.ver-wm {
    width: 400px;
    object-fit: contain;
    margin-bottom: 1em;
}