body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}



/* Header */
header{
    width: 100vw;
    margin-bottom: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.nav {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    margin: 0rem 2rem;
    list-style: none;
}

.navLink:visited {
    color: black;
}

.navLink:hover {
    text-decoration: underline;
    color: red;
}

.logo {
    max-width: 2rem;
    padding: 0.5rem;
}