.page-header {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}

.roboto-mono-medium {
    display: flex;
    margin-top: 15rem;
    margin-left: 5rem;
    font-family:"Roboto Mono", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.type-cont {
    display: flex;
}

.desc {
    margin-top: 30rem;
    margin-left: 7rem;
}

.roboto-mono-regular {
    display: flex;
    margin-top: 8rem;
    margin-left: 5rem;
    font-family:"Roboto Mono", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}